button.svelte-1mqu8qe{color:white;background-color:#003d8b;font-size:14px;outline:none;cursor:pointer;padding:5px;border:none;margin:5px}.explanation.svelte-1mqu8qe{font-size:16px;color:#757575}
.title.svelte-1fmvezv{font-size:24px}.explanation.svelte-1fmvezv{font-size:16px;color:#757575}.answers.svelte-1fmvezv{display:flex}
